<div class="form_filter">
    <%= select_tag :select_filter, options_for_select([["Filter", ""],["Category","category"],["Quantity","quantity"],["Cost","cost"]]), style: "background-color: transparent; font-size: 0.92rem; width: 80px; padding: 1px; border: none; border-bottom: solid thin dimgrey; outline: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none !important;" %>
</div>